:root {
  --main-color: #012d63;
  --accent-color: #8e32c6;
  --add-color: #c7c7c7;
  --text-color: #ffffff;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: "Roboto";
  color: var(--text-color);
  background-color: var(--main-color);
}
header {
  background-color: var(--main-color);
}
.container {
  width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  padding: 15px 0;
}
.header .container {
  display: flex;
  align-items: center;
}
.logo {
  width: 100px;
  height: 60px;
  margin-right: 152px;
}
.header-nav-list {
  display: flex;
  gap: 29px;
}
.nav-item-link {
  color: var(--add-color);
  font-size: 24px;
  line-height: normal;
  font-weight: 300;
}
.nav-item-link:hover,
.nav-item-link:focus {
  font-weight: 400;
  color: var(--text-color);
}
.lang-list {
  display: flex;
  margin-left: auto;
}
.lang-btn {
  color: var(--add-color);
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  border: none;
  background-color: transparent;
}
.lang-btn:hover,
.lang-btn:focus {
  font-weight: 400;
  cursor: pointer;
}
.hero {
  padding-top: 94px;
  padding-bottom: 183px;
  background-image: url(../images/nike_hero_img.jpg);
  background-size: cover;
  background-position: center;
}
.hero-logo {
  width: 160px;
  height: 120px;
  margin-bottom: -20px;
}
.hero-logo-text {
  font-family: "PT Serif";
  font-size: 48px;
  line-height: normal;
  margin-bottom: -20px;
}
.hero-title {
  font-family: "Playfair Display";
  font-size: 144px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: -30px;
}
.hero-subtitle {
  font-family: "Playfair Display";
  font-size: 72px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}
.hero-text {
  font-size: 18px;
  line-height: normal;
  margin-bottom: 41px;
  width: 508px;
}
.hero-btn {
  color: var(--text-color);
  font-size: 24px;
  line-height: normal;
  background-color: var(--accent-color);
  border: none;
  border-radius: 10px;
  width: 254px;
  padding: 20px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: rgba(75, 15, 120, 0.7);
  cursor: pointer;
}
.features {
  padding: 105px 0;
  background-image: url(../images/nike_bg_img1.jpg);
  background-size: cover;
}
.features-list {
  display: flex;
  align-items: center;
  border: var(--accent-color) solid 5px;
  padding: 25px 0;
}
.features-list-item {
  padding: 25px 50px;
}
.features-list-item:nth-child(2) {
  padding: 25px 95px 19px;
  border-right: var(--text-color) solid 2px;
  border-left: var(--text-color) solid 2px;
}
.features-item-title {
  text-align: center;
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 400;
  line-height: normal;
}
.features-item-img {
  width: 240px;
  height: 240px;
}
.reviews {
  background-image: url(../images/flowers_img.svg),
    url(../images/nike_bg_img2.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: left, center;
  background-size: contain, cover;
  padding-top: 24px;
  padding-bottom: 115px;
}
.reviews-list {
  display: flex;
  gap: 93px;
  justify-content: center;
}
.reviews-list-item {
  flex-basis: 255px;
  border-radius: 15px;
}
.reviews-list-item:nth-child(1) {
  background: linear-gradient(
    137deg,
    #00e5e6 7.29%,
    #00a8f7 26.04%,
    #9a76f9 62.5%,
    #cc5ec2 100%
  );
  box-shadow: 0px 14px 0px -5px #7b54b2, 0px 30px 0px -13px #533978;
}
.reviews-list-item:nth-child(2) {
  background: linear-gradient(
    137deg,
    #ff68b4 0%,
    #ff45e1 26.04%,
    #ce3aff 62.84%,
    #8961ff 100%
  );
  box-shadow: 0px 14px 0px -5px #9159b1, 0px 30px 0px -13px #61337c;
}
.reviews-list-item:nth-child(3) {
  background: linear-gradient(
    143deg,
    #ffe128 0%,
    #ff9b5c 30.21%,
    #ff8381 63.29%,
    #ff5489 100%
  );
  box-shadow: 0px 14px 0px -5px #b95a4c, 0px 30px 0px -13px #732f26;
}
.reviews-item-cower {
  padding: 49px 14px 29px;
}
.reviews-text-box {
  margin-bottom: 47px;
}
.reviews-user-info-box {
  display: flex;
  flex-wrap: nowrap;
}
.reviews-title {
  text-align: center;
  font-family: "Playfair Display";
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 24px;
}
.reviews-box-comment {
  font-size: 24px;
  line-height: normal;
}
.reviews-box-date {
  color: var(--add-color);
  font-size: 14px;
  line-height: normal;
}
.reviews-box-user {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.reviews-box-user-data {
  color: var(--add-color);
  font-size: 12px;
  line-height: normal;
}
.reviews-box-img {
  padding-right: 5px;
  border-radius: 50%;
}
.order {
  padding-top: 20px;
  padding-bottom: 37px;
  background-image: url(../images/nike_bg_img3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.order .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.order-title {
  font-family: "Playfair Display";
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  justify-self: center;
  margin-bottom: 33px;
}
.order-list-item {
  margin-bottom: 19px;
}
.order-list-item:first-child {
  position: relative;
}
.order-item-input {
  font-size: 28px;
  line-height: normal;
  border: none;
  border-radius: 50px;
  width: 580px;
  padding: 11px 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
}
.order-item-input:hover,
.order-item-input:focus {
  scale: 1.2;
}
.order-item-btn {
  color: #8d8d8d;
  font-family: "Roboto";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 8px;
  right: 16px;
  border: none;
  background-color: var(--text-color);
}
.order-item-btn:hover,
.order-item-btn:focus {
  cursor: pointer;
}
.order-form-btn {
  color: var(--text-color);
  font-size: 24px;
  line-height: normal;
  border: none;
  border-radius: 16px;
  background-color: var(--accent-color);
  width: 248px;
  padding: 20px 0;
  display: block;
  margin: 0 auto;
}
.order-form-btn:hover,
.order-form-btn:focus {
  background-color: rgba(75, 15, 120, 0.7);
  cursor: pointer;
}
.footer {
  padding-top: 45px;
  padding-bottom: 50px;
}
.support-box {
  padding-bottom: 20px;
  border-bottom: var(--add-color) 1px solid;
}
.support-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.support-item-text {
  font-size: 24px;
  line-height: normal;
}
.support-item-link {
  color: var(--text-color);
  font-size: 24px;
  line-height: normal;
  text-decoration-line: underline;
}
.footer {
  background-color: #021635;
}
.footer-info {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
}

.footer-info-text {
  font-size: 18px;
  line-height: normal;
  margin-bottom: 7px;
}
.footer-logo {
  width: 108px;
  height: 81px;
  margin-bottom: -15px;
  margin-top: -20px;
}
.footer-logo-text {
  font-family: "PT Serif";
  font-size: 24px;
  line-height: normal;
}
